[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
databases = {extras = ["postgresql"], version = "*"}
starlette = "*"

[dev-packages]

[requires]
python_version = "3.10"
