[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlmodel = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi-jwt-auth = "*"
passlib = "*"
asyncpg = "*"
python-dotenv = "*"
sqladmin = "*"
requests = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
